@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Забранет пристап";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p>Немате дозвола за пристап до информациите.</p>
</header>
